{% extends 'blogapp/structure.html' %}
{% load static %}

{% block header_title %}

Aliens's Blog-Homepage

{% endblock header_title %}


{% block 'main_heading' %}
Aliens Blog
{% endblock 'main_heading' %}

{% block 'subheading' %}
A Blog for all the Aliens
{% endblock 'subheading' %}


{% block image %}{% static 'blogapp/img/about-bg.jpg' %}{% endblock image %}


{% block main_content %}

{% for post in posts %} 
{% include 'blogapp/blogcard.html' with post=post %}
<hr class="my-4">
{% endfor %}

{% endblock main_content %}

